@model List<Comic>

<h1>Carrito Session</h1>

@if(Model==null || Model.Count == 0)
{
    <div class="alert alert-info">
        No hay comics en el carrito.
    </div>
}
else
{
  


<table class="table table-warning">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Comic comic in Model)
        {
            <tr>
                <td>@comic.Name</td>
                <td>@comic.Author</td>
                <td>@comic.Year</td>
            </tr>
        }
    </tbody>
</table>
}