@using AyudaExamen.Helpers
@model List<Comic>

@{
    List<int> Comicids;
    if (ViewData["COMICSID"] != null)
    {
        Comicids = ViewData["COMICSID"] as List<int>;
    }
    else
    {
        Comicids = new List<int>();
    }
}

<h1>Carrito Session</h1>

@if(Model==null || Model.Count == 0)
{
    <div class="alert alert-info">
        No hay comics en el carrito.
    </div>
}
else
{
  
    <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="LimpiarCarritoSession">Limpiar Carrito </a>

<table class="table table-warning">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Comic comic in Model)
        {
            <tr>
                <td>@comic.Name</td>
                <td>@comic.Author</td>
                <td>@comic.Year</td>
            </tr>
        }
    </tbody>
</table>

    <form asp-area="" asp-controller="Pedidos" asp-action="CreatePedido" method="post">
        <input type="hidden" name="usuarioId" value="1" />
        @for (int i = 0; i < Comicids.Count; i++)
        {
            <input type="hidden" name="comicIds" value="@Comicids[i]" />
        }
        <button type="submit" class="btn btn-primary">Crear Pedido</button>
    </form>
}